<div class="widget-veeam widget">
	<h4 class="widget__title">Veeam</h4>
	<div class="widget__content">
		<p>
				<ins class='dcmads' style='display:inline-block;width:200px;height:200px'
				data-dcm-placement='N410401.1891647WOJCIEH.NET/B10464038.238209431'
				data-dcm-rendering-mode='iframe'
				data-dcm-https-only
				data-dcm-resettable-device-id=''
				data-dcm-app-id=''>
			 <script src='https://www.googletagservices.com/dcm/dcmads.js'></script>
			</ins>
		</p>
	</div>
</div>