<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
	{{ if .Site.Params.twitter_cards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	<link rel="stylesheet" href="{{ "css/cookies-eu-banner.css" | relURL }}">

	
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}

</head>
<body class="body">
	
	<div id="cookies-eu-banner" style="display: none;">
		<span>By continuing to visit this site, you accept the use of cookies by Google Analytics for statistical purposes.</span>
		<a href="./read-more.html" id="cookies-eu-more">Read more</a>
		<button id="cookies-eu-reject">Reject</button>
		<button id="cookies-eu-accept">Accept</button>
	</div>
	<span id="cookies-eu-state"></span>
	

	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}

		<div class="clearfix clear"></div>

	
	</div>

	
<script async defer src="{{ "js/menu.js" | relURL }}"></script>

<script async defer src="{{ "js/cookies-eu-banner.js" | relURL }}"></script>

{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}



<script>
	var cookiesBanner = new CookiesEuBanner(function () {
		// Example: your Google Analytics script
		// (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		// (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		// m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		// })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		// ga('create', 'UA-XXXXXXXX-X', 'auto');
		// ga('send', 'pageview');
		
		console.log("LOAD GA");
	}, false);

	function updateCookiesEuState() {
	  var hasConsent = cookiesBanner.hasConsent()
	  var state = '❔ Nor accepted nor rejected';

	  if (hasConsent === true) {
		state = '✅ Accepted';
	  } else if (hasConsent === false) {
		state = '❌ Rejected';
	  }

	  document.getElementById('cookies-eu-state').innerText = state;
	}
	updateCookiesEuState();
	setInterval(updateCookiesEuState, 100);

	// Prefer use addEventListener
	// For demo purpose I will use the CookiesEuBanner internal method
	cookiesBanner.addClickListener(document.getElementById('custom-accept'), function () {
	  cookiesBanner.setConsent(true);
	  cookiesBanner.removeBanner();
	  updateCookiesEuState();
	});
	cookiesBanner.addClickListener(document.getElementById('custom-reject'), function () {
	  cookiesBanner.setConsent(false);
	  cookiesBanner.removeBanner();
	  updateCookiesEuState();
	});
	cookiesBanner.addClickListener(document.getElementById('custom-reset'), function () {
	  cookiesBanner.deleteCookie(cookiesBanner.cookieName);
	  window.location.reload();
	});
</script>

</body>
</html>