{{ define "main" }}
<main class="main" role="main">
	<div class="warning">
		<h1 class="warning__headline">{{ T "404_title" }}</h1>
      <img src="/img/sad-kitty.jpg" alt="Sad kitty is sad">
		<p class="warning__text">{{ T "404_text" }} <a href="{{ "" | relLangURL }}">{{ T "404_linktext" }}</a>.</p>
	</div>
</main>
{{ end }}